.dashboard {
    width: 96vw;
    //height: 100vh;
    padding: 2em;
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    background-image: url('/images/biblio2.jpg');
    background-size: cover;

    .user-info {
        background-color: $brown;
        width: 40%;
        padding: 1em;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-left: 2em;
        border: 1px solid $light-brown ;
        @include flex(column, center, flex-start);

        h2:first-child {
            @include font-family($light-brown, 2em, $playfair, regular);

            margin-bottom: .5em;
        }

        .info-container {
            @include flex(row, center, center);
            gap: 1em;

            img:first-child {
                border-radius: 50%;
                width: 20%;
                height: auto;
            }

            .mini-info-container{
                @include flex(row, center, center);
                gap: 1em;

                ul:first-child {
                    @include font-family(#fff, 1em, $nunito, regular);

                    li:first-child {
                        font-size: 1.5em;
                        margin-bottom: .5em;
                    }
                }

                a:last-child {
                    @include font-family($dark-brown, 1em, $nunito, italic);
                    padding-left: 1.2em;

                    i {
                        font-size: 2em;
                        
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .open-modal-book {
        width: 50%;
        height: 10.5em;
        margin-left: 4em;
        margin-bottom: 3em;
        @include flex(row, center, center);
        padding-left: 2em;
        gap: 6em;

        > button {
            border: none;
            @include button($dark-brown, 13em, 3em, 1em, 10px);
            @include font-family(#fff, 1.5em, $nunito, regular);
            @include flex(row, center, center);

            > i {
                margin-left: .3em;
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
        }
    }

    .books {
        width: 100%;
        background-color: $light-brown;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 2em;
        @include flex(column, flex-start, flex-start);
        border: 1px solid $brown ;

        .books-title {
            margin-bottom: 1em;
            @include font-family($dark-brown, 3em, $playfair, regular);
        }

        .gallery-books {
            width: 100%;
            @include flex(column, flex-start, flex-start);

            .status-container {
                margin-bottom: 2em;
                
                .status-title {
                    @include font-family($dark-brown, 2.2em, $playfair, regular);
                    margin-bottom: 0.5em;
                }
                
                .book-list {
                    @include flex(row, flex-start, center);
                    flex-wrap: wrap;

                    .book-item {
                        height: 14em;
                        width: 14em;
                        padding: 1em;
                        cursor: pointer;

                        &:hover {
                            opacity: .8;
                        }

                        .book-item-content {
                            @include flex(column, center, center);

                            img {
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                border-radius: 10px;
                                width: 100px;
                                height: auto;
                                margin-bottom: 0.5em;
                            }

                            .book-title {
                                @include font-family($dark-brown, 1.2em, $nunito, regular);
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .dashboard {
        .user-info {
            width: 35%;
        }
        .open-modal-book {
            button {
                font-size: 1.4em;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .dashboard {
        .user-info {
            width: 35%;
        }
        .open-modal-book {
            padding-left: 0;
            gap: 2em;
            button {
                font-size: 1.1em;
                width: 14em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dashboard {
        width: 92vw;
        justify-content: center;

        .open-modal-book {
            margin-left: 0;
            margin-bottom: 0;
            width: 100%;
            gap: 2em;
            padding-left: 0;

            button {
                font-size: 20px;
                width: 14em;
                height: 3em;
            }
        }

        .user-info {
            width: 75%;
        }
    }
}

@media screen and (max-width: 425px) {
    .dashboard {
        .user-info {
            width: 100%;
        }
        .open-modal-book{
            gap: 1em;
            button {
                font-size: 18px;
                width: 14em;
                height: 3em;
            }
        }
        .books {
            .gallery-books {
                .status-container {
                    .book-list {
                        justify-content: center;
                    }
                }
            }
        }
    }
}