.forgot-password {
    width: 100vw;
    height: 66vh;
    @include flex(row, center, center);

    .container-forgot {
        width: 60%;
        height: 80%;
        background-color: $brown;
        border-radius: 10px;
        @include flex( column, center, center);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        h2 {
            @include font-family($light-brown, 3em, $playfair, regular);
            // margin-bottom: 1em;
        }

        form{
            height: 60%;
            @include flex(column, center, center);

            div {
                @include flex(column, center, center);
                margin-bottom: 1.2em;
                label:first-child {
                    @include font-family($light-brown, 1.6em, $playfair, regular);

                    
                }
                #login-email {
                    height: 3em;
                    width: 40em;
                    border: none;
                    border-radius: 5px;
                    margin-top: .5em;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                }
            }

            button {
                border: 0;
                background-color: $light-brown;
                width: 18em;
                height: 2.5em;
                border-radius: 5px;
                margin-bottom: 1em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .forgot-password {
        .container-forgot {
            form {
                div {
                    #login-email {
                        width: 30em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .forgot-password {
        .container-forgot {
            width: 80%;
            h2 {
                font-size: 2.2em;
            }
            form {
                div {
                    #login-email {
                        width: 22em;
                    }
                }
            }
        }
    }
}