// HEADER / NAV
.header-container {
    width: 100vw;
    height: 16vh;
    background-color: $light-brown;
    border-bottom: 1px solid $brown;
    @include flex(row, space-between, center);

    .logo {
        width: 10%;
        @include flex(row, center, center);

        img {
            width: 6.5em; //104px
            height: 6.5em;
            border-radius: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: all .1s;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
            &:active {
                box-shadow: none;
            }
        }
    }

    nav {
        width: 90%;
        height: 100%;

        @include flex(row, flex-start, center);
        padding-left: 20em;
        ul {
            @include flex(row, flex-start, center);
            gap: 2em;
            margin-right: 2em;
        }

        a {
            background-color: $brown;
            color: $light-brown;
            font-family: $nunito;
            width: 14em;
            height: 2em;
            border-radius: 20px;
            transition: all .1s;
            @include flex(row, center, center);

            // &:hover {
            //     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            // }
            // &:active {
            //     background-color: $light-brown;
            // }
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .header-container {
        nav{
            padding-left: 6em; 
        }
    }
}

@media screen and (max-width: 1024px) {
    .header-container {
        .logo {
            width: 20%;
            a {
                >img {
                    width: 5.5em;
                    height: 5.5em;
                }
            }
        }
        nav {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        justify-content: flex-start;
        .logo {
            >img {
                margin-left: 4em;
            }
        }
        nav {
            width: 40%;
            ul {
                li{
                    a{
                        width: 8em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .header-container {
        width: 100vw;
        .logo {
            width: 25%;

            >img {
                margin-left: 5em;
            }
        }
        nav {
            display: none;
        }
    }
}
