// HEADER / NAV
.header-container {
    width: 100vw;
    height: 16vh;
    background-color: $light-brown;
    border-bottom: 1px solid $brown; 
    @include flex(row, space-between, center);

    .logo {
        width: 10%;
        @include flex(row, center, center);

        img {
            width: 6.5em; //104px
            height: 6.5em;
            border-radius: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    nav {
        width: 30%;
        height: 100%;
    
        @include flex(row, center, center);

        a {
            background-color: $brown;
            color: $light-brown;
            font-family: $nunito;
            width: 14em;
            height: 2em;
            border-radius: 20px;
        
            @include flex(row, center, center);
        }
    }
}