.home {
    width: 100vw;
    height: 75vh;

    .banner {
        width: 100%;
        height: 60%;
        // background-color: $dark-brown;
        background-image: url("../../public/images/etageres_a_livres.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        @include flex(column, center, center);
        color: $light-brown;
        font-family: $playfair;

        h1 {
            font-style: italic;
            font-size: 8em;
        }
        h2 {
            font-size: 1.5em;
        }
    }

    .presentation {
        width: 100%;
        height: 40%;
        background-color: #EBE7E5;
        @include flex(row, center, center);

        .container-pres {
            width: 50%;
            height: 70%;
            border-radius: 10px;
            background-color: $brown;
            position: relative;

            img {
                width: 10em;
                height: 10em;
                position: absolute;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 100%;
                top: -85px;
                left: 355px;

            }

            p{
                color: $light-brown;
                font-family: $playfair;
                font-style: italic;
                font-size: 1em;
                padding: 1.5em;
                margin-top: 3.6em;
            }

        }
    }
}


@media screen and (max-width: 1440px) {
    .home {
        .presentation {
            .container-pres{
                height: 80%;
                width: 90%;
                >img {
                    left: 560px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .home {
        .presentation {
            .container-pres{
                height: 85%;
                width: 90%;
                >img {
                    left: 385px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        .presentation {
            .container-pres{
                >img {
                    left: 275px;
                }
                >p{
                    font-size: .9em;
                    padding: 2.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .home {
        .banner {
            height: 45%;
            h1 {
                font-size: 4.5em;
            }
        }
        .presentation {
            height: 55%;
            .container-pres{
                height: 90%;
                >img {
                    left: 115px;
                }
                >p{
                    font-size: .9em;
                    padding: 2.5em;
                }
            }
        }
    }
}