@mixin flex($dir: row, $just: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}
// Tu as juste à mettre @include flex(row, center, center); 
// dans le scss.
// Exemple tu veux mettre en column, le justify-content en 
// flex start et l'align-items en flex-end :
// ça fera @include flex(column, flex-start, flex-end);

@mixin flex-align($align: center){
    display: flex;
    align-items: $align;
}

@mixin flex-justify($just: center){
    display:flex;
    justify-content: $just;
}

@mixin font-family($color: $light-brown, $f-size: 1.2em, $f-family: $playfair, $f-style: italic) {
    color: $color;
    font-size: $f-size;
    font-family: $f-family;
    font-style: $f-style;
}