@mixin flex($dir: row, $just: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin flex-align($align: center){
    display: flex;
    align-items: $align;
}

@mixin flex-justify($just: center){
    display:flex;
    justify-content: $just;
}

@mixin font-family($color: $light-brown, $f-size: 1.2em, $f-family: $playfair, $f-style: italic) {
    color: $color;
    font-size: $f-size;
    font-family: $f-family;
    font-style: $f-style;
}

@mixin button($bgColor: $brown, $w: 5em, $h: 2em, $p: 1em, $bRadius: 10px) {
    background-color: $bgColor;
    width: $w;
    height: $h;
    padding: $p;
    border-radius: $bRadius;
}