.login-and-register {
    width: 100vw;
    height: 80vh;
    @include flex(row, center, center);
    
    .container-login {
        width: 80%;
        height: 92%;
        border-radius: 7px;
        background-color: $brown;
        @include flex(row, center, center);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .login-section {
            width: 50%;
            height: 90%;
            @include flex(column, flex-start, center);

            h2 {
                @include font-family($dark-brown, 2.4em, $nunito, italic);
            }
            
            form {
                width: 80%;
                height: 80%;
                margin-top: 1.5em;
                @include flex(column, center, center);
                
                > div:first-child {
                    height: 6em;
                    @include flex(column, flex-start, center);

                    label:first-child {
                        @include font-family($dark-brown, 1.6em, $nunito, normal);                     
                    }

                    #login-email {
                        height: 3em;
                        width: 40em;
                        border: none;
                        border-radius: 5px;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                        margin-top: .5em;
                        transition: all .2s;

                        &:hover{
                            background-color: $body-bg;
                        }

                        &::placeholder{
                            @include font-family($dark-brown, 1.1em, $nunito, normal);
                            padding-left: .8em;
                        }
                    }
                }

                > div:nth-child(2) {
                    height: 6em;
                    @include flex(column, flex-start, center);

                    label:first-child {
                        @include font-family($dark-brown, 1.6em, $nunito, normal);                     
                    }
                    
                    #login-password {
                        height: 3em;
                        width: 40em;
                        border: none;
                        border-radius: 5px;
                        margin-top: .5em;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                        transition: all .2s;

                        &:hover{
                            background-color: $body-bg;
                        }

                        &::placeholder{
                            @include font-family($dark-brown, 1.1em, $nunito, normal);
                            padding-left: .8em;
                        }
                    }
                }

                > button:nth-child(3) {
                    border: 0;
                    background-color: $light-brown;
                    width: 10em;
                    height: 3em;
                    border-radius: 5px;
                    margin-bottom: 1em;
                    transition: ease-in-out .1s;
                    @include font-family($dark-brown, 1em, $nunito, normal);
                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;         
                    }
                    &:active {
                        box-shadow: none;
                    }
                }

                > div:nth-child(4) {
                    margin-bottom: .8em;

                    a{
                        @include font-family($dark-brown, 1em, $nunito, normal);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
                > div:last-child {
                    button {
                        border: 1px solid grey;
                        background-color: #fff;
                        width: 14em;
                        height: 3em;
                        border-radius: 5px;
                        transition: all .1s;
                        @include font-family($dark-brown, 1em, $nunito, normal);
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;         
                        }
                        &:active {
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        #line-vertical {
            height: 80%;
            width: .1%;
            background-color: $dark-brown;
            border-radius: 2px;
        }

        .register-section {
            width: 50%;
            height: 90%;
            margin-left: 2em;

            @include flex(column, flex-start, center);
            h2 {
                @include font-family($dark-brown, 2.4em, $nunito, italic);  
            }

            form {
                width: 80%;
                height: 100%;
                
                @include flex(column, center, flex-start);

                > div:first-child {
                    height: auto;
                    @include flex(column, flex-start, center);

                    > div:first-child {
                        width: 20%;
                        @include flex-justify(center);
                        margin-bottom: .2em;
                    }

                    > div:last-child {
                        @include flex(row, center, center);
                        gap: .2em;
                        width: 100%;

                        label {
                            @include font-family($dark-brown, 1em, $nunito, normal);                        
                        }

                        input {
                            margin-left: 1em;
                            border: none;
                            background-color: $light-brown;
                            border-radius: 5px;
                            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                            
                            &:hover{
                                background-color: $body-bg;
                            }
                        }
                    }
                }

                > div:nth-child(2) {
                    @include flex(column, flex-start, center);

                    height: 6em;
                    label:first-child {
                        @include font-family($dark-brown, 1.6em, $nunito, normal);  

                        
                    }
                    #username {
                        height: 3em;
                        width: 40em;
                        border: none;
                        border-radius: 5px;
                        margin-top: .5em;
                        margin-bottom: .2em;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                        
                        &:hover{
                            background-color: $body-bg;
                        }

                        &::placeholder{
                            @include font-family($dark-brown, 1.1em, $nunito, normal);
                            padding-left: .8em;
                        }
                    }
                    small{
                        @include font-family(white, .8em, $playfair, regular);
                    }
                }

                > div:nth-child(3) {
                    @include flex(column, flex-start, center);

                    height: 6em;
                    label:first-child {
                        @include font-family($dark-brown, 1.6em, $nunito, normal);   

                        
                    }
                    #email {
                        height: 3em;
                        width: 40em;
                        border: none;
                        border-radius: 5px;
                        margin-top: .5em;
                        margin-bottom: .2em;

                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                        &:hover{
                            background-color: $body-bg;
                        }

                        &::placeholder{
                            @include font-family($dark-brown, 1.1em, $nunito, normal);
                            padding-left: .8em;
                        }
                    }
                    small{
                        @include font-family(white, .8em, $playfair, regular);
                    }
                }

                > div:nth-child(4) {
                    @include flex(column, flex-start, center);

                    height: 10em;
                    label:first-child {
                        @include font-family($dark-brown, 1.6em, $nunito, normal);   

                        
                    }
                    #password {
                        height: 3em;
                        width: 40em;
                        border: none;
                        border-radius: 5px;
                        margin-top: .5em;
                        margin-bottom: .2em;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                        &:hover{
                            background-color: $body-bg;
                        }
                        
                        &::placeholder{
                            @include font-family($dark-brown, 1.1em, $nunito, normal);
                            padding-left: .8em;
                        }
                    }
                    small{
                        @include font-family(white, .8em, $playfair, regular);
                        text-align: center;
                    }
                }

                
                .container-recaptcha {
                    width: 90%;
                    @include flex(row, center, center);      

                    #recaptcha {
                        margin-bottom: .4em;
                    }
                }

                > div:last-child {
                    @include flex(row, center, center);
                    gap: 1em;
                    width: 90%;

                    > button:first-child {
                        border: 0;
                        background-color: $light-brown;
                        width: 9em;
                        height: 2.5em;
                        border-radius: 5px;
                        transition: all .1s;
                        @include font-family($dark-brown, 1em, $nunito, normal);
    
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;         
                        }
                        
                        &:active {
                            box-shadow: none;
                        }
                    }
    
                    div:last-child {
                        button {
                            border: 1px solid grey;
                            background-color: #fff;
                            width: 13em;
                            height: 2.5em;
                            border-radius: 5px;
                            transition: all .1s;
                            @include font-family($dark-brown, 1em, $nunito, normal);
                            &:hover {
                                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;         
                            }
                            &:active {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 1440px) {
    .login-and-register {
        .container-login {
            .login-section {
                form {
                    > div:first-child {
                        #login-email {
                            width: 32em;
                        }
                    }
                    > div:nth-child(2) {
                        #login-password {
                            width: 32em;
                        }
                    }
                }
            }

            .register-section {
                form {
                    > div:nth-child(2) {
                        #username {
                            width: 32em;
                        }
                    }
                    > div:nth-child(3) {
                        #email {
                            width: 32em;
                        }
                    }
                    > div:nth-child(4) {
                        #password {
                            width: 32em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .login-and-register {
        .container-login {
            .login-section {
                form {
                    > div:first-child {
                        #login-email {
                            width: 24em;
                        }
                    }
                    > div:nth-child(2) {
                        #login-password {
                            width: 24em;
                        }
                    }
                }
            }

            .register-section {
                form {
                    > div:nth-child(2) {
                        #username {
                            width: 24em;
                        }
                    }
                    > div:nth-child(3) {
                        #email {
                            width: 24em;
                        }
                    }
                    > div:nth-child(4) {
                        #password {
                            width: 24em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .login-and-register {
        height: 140vh;
        .container-login {
            @include flex(column, flex-start, center);
            .login-section {
                h2 {
                    margin-top: 1em;
                }
                form {
                    > div:first-child {
                        #login-email {
                            width: 32em;
                        }
                    }
                    > div:nth-child(2) {
                        #login-password {
                            width: 32em;
                        }
                    }
                    > div:last-child {
                        button {
                            height: 2em;
                        }
                    }
                }
            }
            #line-vertical {
                width: 80%;
                height: 0.2em;
                margin-bottom: 2em;
            }
            .register-section {
                h2 {
                    margin-bottom: 1em;
                }
                form {
                    width: 120%;
                    > div:nth-child(2) {
                        #username {
                            width: 32em;
                        }
                    }
                    > div:nth-child(3) {
                        #email {
                            width: 32em;
                        }
                    }
                    > div:nth-child(4) {
                        #password {
                            width: 32em;
                        }
                    }
                }

                > div:last-child {
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .login-and-register {
        height: 150vh;
        .container-login {
            .login-section {
                width: 100%;
                form {
                    > div:first-child {
                        #login-email {
                            width: 22em;
                        }
                    }
                    > div:nth-child(2) {
                        #login-password {
                            width: 22em;
                        }
                    }
                }
            }

            .register-section {
                width: 100%;
                margin-left: 0;
                form {
                    > div:first-child {
                        @include flex(column, center, center);
                        margin-left: 0;
                    }
                    > div:nth-child(2) {
                        #username {
                            width: 22em;
                        }
                    }
                    > div:nth-child(3) {
                        #email {
                            width: 22em;
                        }
                    }
                    > div:nth-child(4) {
                        #password {
                            width: 22em;
                        }
                    }
                }
            }
        }
    }
}