.user-informations {
    width: 100vw;
    @include flex(column, center, center);
    padding: 2em;
    background-image: url('/images/biblio2.jpg');
    background-size: cover;

    .user-info {
        width: 50%;
        background-color: $brown;
        border-radius: 5px;
        padding: 2em;
        margin-bottom: 1em;
        @include flex(column, center, center);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

        h2 {
            @include font-family($light-brown, 1.6em, $nunito, regular);
            padding-bottom: 1em;
        }
        
        img {
            width: 8em;
            height: 8em;
            border-radius: 100%;
            background-color: $dark-brown;
        }
        
        ul {
            @include font-family($dark-brown, 1.2em, $nunito, regular);
            padding-top: 1em;
        }
    }

    .user-update {
        width: 50%;
        @include flex(column, center, center);
        padding: 2em;
        background-color: $light-brown;
        border-radius: 5px;

        h2 {
            @include font-family($dark-brown, 1.6em, $nunito, regular);
            padding-bottom: 1em;
        }
        
        form {
            @include flex(column, center, center);
            
            label {
                @include font-family($dark-brown, 1.1em, $nunito, regular);
                
            }

            > input {
                height: 3em;
                width: 40em;
                border: none;
                border-radius: 5px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                margin-top: .5em;
                margin-bottom: .5em;
                transition: all .2s;

                &::placeholder {
                    padding-left: 1em;
                }
            }

            > button {
                border: 0;
                background-color: $dark-brown;
                width: 10em;
                height: 3em;
                border-radius: 5px;
                margin-bottom: 1em;
                margin-top: 1em;
                transition: ease-in-out .1s;
                @include font-family(white, 1em, $nunito, normal);
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;         
                }
                &:active {
                    box-shadow: none;
                }
            }

        }
    }

    > button {
        border: 0;
        background-color: #740921;
        width: 14em;
        height: 3em;
        border-radius: 5px;
        margin-bottom: 1em;
        margin-top: 1em;
        transition: ease-in-out .1s;
        @include font-family(white, 1em, $nunito, normal);
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;         
        }
        &:active {
            box-shadow: none;
        }
    }
}