// Body
$body-bg: #f8fafc;

// Colors
$light-brown: #F5E5D7;
$dark-brown: #402B1B;
$brown: #AF8F7C;

// Typography
$nunito: 'Nunito', sans-serif;
$playfair: 'Playfair Display', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
