@import url(https://fonts.bunny.net/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-container {
  width: 100vw;
  height: 16vh;
  background-color: #F5E5D7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-container .logo {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container .logo img {
  width: 6.5em;
  height: 6.5em;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header-container nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container nav a {
  background-color: #AF8F7C;
  color: #F5E5D7;
  font-family: "Nunito", sans-serif;
  width: 14em;
  height: 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100vw;
  height: 75vh;
}
.home .banner {
  width: 100%;
  height: 60%;
  background-image: url(/images/etageres_a_livres.jpg?b71a83b3cdf5904496253b5e6f0af612);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F5E5D7;
  font-family: "Playfair Display", serif;
}
.home .banner h1 {
  font-style: italic;
  font-size: 8em;
}
.home .banner h2 {
  font-size: 1.5em;
}
.home .presentation {
  width: 100%;
  height: 40%;
  background-color: #EBE7E5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .presentation .container-pres {
  width: 50%;
  height: 70%;
  border-radius: 10px;
  background-color: #AF8F7C;
  position: relative;
}
.home .presentation .container-pres img {
  width: 10em;
  height: 10em;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100%;
  top: -85px;
  left: 355px;
}
.home .presentation .container-pres p {
  color: #F5E5D7;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1em;
  padding: 1.5em;
  margin-top: 3.6em;
}

footer {
  width: 100vw;
  height: 18vh;
  background-color: #402B1B;
  display: flex;
  justify-content: center;
}
footer .footer-container {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .text-footer {
  color: #F5E5D7;
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  font-style: italic;
  height: 80%;
  width: 40%;
  display: flex;
  align-items: center;
}
footer .footer-container .footer-socialmedia {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
footer .footer-container .footer-socialmedia a {
  color: #F5E5D7;
  font-size: 1.2em;
}
