@import url(https://fonts.bunny.net/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-container {
  width: 100vw;
  height: 16vh;
  background-color: #F5E5D7;
  border-bottom: 1px solid #AF8F7C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-container .logo {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container .logo img {
  width: 6.5em;
  height: 6.5em;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.1s;
}
.header-container .logo img:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.header-container .logo img:active {
  box-shadow: none;
}
.header-container nav {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20em;
}
.header-container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  margin-right: 2em;
}
.header-container nav a {
  background-color: #AF8F7C;
  color: #F5E5D7;
  font-family: "Nunito", sans-serif;
  width: 14em;
  height: 2em;
  border-radius: 20px;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container nav a:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.header-container nav a:active {
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .header-container .logo > img {
    margin-left: 2em;
  }
}
@media screen and (max-width: 768px) {
  .header-container .logo > img {
    margin-left: 4em;
  }
  .header-container nav {
    width: 40%;
  }
}
@media screen and (max-width: 425px) {
  .header-container .logo > img {
    margin-left: 5em;
  }
  .header-container nav {
    width: 60%;
  }
}
.login-and-register {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-and-register .container-login {
  width: 80%;
  height: 92%;
  border-radius: 7px;
  background-color: #AF8F7C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-and-register .container-login .login-section {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login-and-register .container-login .login-section h2 {
  color: #402B1B;
  font-size: 3em;
  font-family: "Nunito", sans-serif;
  font-style: italic;
}
.login-and-register .container-login .login-section form {
  width: 80%;
  height: 80%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-and-register .container-login .login-section form > div:first-child {
  height: 6em;
}
.login-and-register .container-login .login-section form > div:first-child label:first-child {
  color: #402B1B;
  font-size: 1.6em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .login-section form > div:first-child #login-email {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 0.5em;
  transition: all 0.2s;
}
.login-and-register .container-login .login-section form > div:first-child #login-email:hover {
  background-color: #EBE7E5;
}
.login-and-register .container-login .login-section form > div:first-child #login-email::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .login-section form > div:first-child #login-email::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .login-section form > div:nth-child(2) {
  height: 6em;
}
.login-and-register .container-login .login-section form > div:nth-child(2) label:first-child {
  color: #402B1B;
  font-size: 1.63em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .login-section form > div:nth-child(2) #login-password {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.2s;
}
.login-and-register .container-login .login-section form > div:nth-child(2) #login-password:hover {
  background-color: #EBE7E5;
}
.login-and-register .container-login .login-section form > div:nth-child(2) #login-password::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .login-section form > div:nth-child(2) #login-password::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .login-section form > button:nth-child(3) {
  border: 0;
  background-color: #F5E5D7;
  width: 10em;
  height: 3em;
  border-radius: 5px;
  margin-bottom: 1em;
  transition: ease-in-out 0.1s;
  color: #402B1B;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .login-section form > button:nth-child(3):hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.login-and-register .container-login .login-section form > button:nth-child(3):active {
  box-shadow: none;
}
.login-and-register .container-login .login-section form > div:nth-child(4) {
  margin-bottom: 0.8em;
}
.login-and-register .container-login .login-section form > div:nth-child(4) a {
  color: #402B1B;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .login-section form > div:last-child button {
  border: 1px solid grey;
  background-color: #fff;
  width: 14em;
  height: 3em;
  border-radius: 5px;
  transition: all 0.1s;
  color: #402B1B;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .login-section form > div:last-child button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.login-and-register .container-login .login-section form > div:last-child button:active {
  box-shadow: none;
}
.login-and-register .container-login #line-vertical {
  height: 80%;
  width: 0.1%;
  background-color: #402B1B;
  border-radius: 2px;
}
.login-and-register .container-login .register-section {
  width: 50%;
  height: 90%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login-and-register .container-login .register-section h2 {
  color: #402B1B;
  font-size: 3em;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  margin-bottom: 1em;
}
.login-and-register .container-login .register-section form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-and-register .container-login .register-section form > div:first-child {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}
.login-and-register .container-login .register-section form > div:first-child > div:first-child {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
}
.login-and-register .container-login .register-section form > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.login-and-register .container-login .register-section form > div:first-child > div:last-child label {
  color: #402B1B;
  font-size: 1.6em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .register-section form > div:first-child > div:last-child input {
  margin-left: 1em;
  border: none;
  background-color: #F5E5D7;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.login-and-register .container-login .register-section form > div:first-child > div:last-child input:hover {
  background-color: #EBE7E5;
}
.login-and-register .container-login .register-section form > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 6em;
}
.login-and-register .container-login .register-section form > div:nth-child(2) label:first-child {
  color: #402B1B;
  font-size: 1.6em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .register-section form > div:nth-child(2) #username {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.login-and-register .container-login .register-section form > div:nth-child(2) #username:hover {
  background-color: #EBE7E5;
}
.login-and-register .container-login .register-section form > div:nth-child(2) #username::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .register-section form > div:nth-child(2) #username::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .register-section form > div:nth-child(2) small {
  color: #F5E5D7;
  font-size: 0.8em;
  font-family: "Playfair Display", serif;
  font-style: regular;
}
.login-and-register .container-login .register-section form > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 6em;
}
.login-and-register .container-login .register-section form > div:nth-child(3) label:first-child {
  color: #402B1B;
  font-size: 1.6em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .register-section form > div:nth-child(3) #email {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.login-and-register .container-login .register-section form > div:nth-child(3) #email:hover {
  background-color: #EBE7E5;
}
.login-and-register .container-login .register-section form > div:nth-child(3) #email::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .register-section form > div:nth-child(3) #email::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .register-section form > div:nth-child(3) small {
  color: #F5E5D7;
  font-size: 0.8em;
  font-family: "Playfair Display", serif;
  font-style: regular;
}
.login-and-register .container-login .register-section form > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 10em;
}
.login-and-register .container-login .register-section form > div:nth-child(4) label:first-child {
  color: #402B1B;
  font-size: 1.6em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .register-section form > div:nth-child(4) #password {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.login-and-register .container-login .register-section form > div:nth-child(4) #password:hover {
  background-color: #EBE7E5;
}
.login-and-register .container-login .register-section form > div:nth-child(4) #password::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .register-section form > div:nth-child(4) #password::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.login-and-register .container-login .register-section form > div:nth-child(4) small {
  color: #F5E5D7;
  font-size: 0.8em;
  font-family: "Playfair Display", serif;
  font-style: regular;
}
.login-and-register .container-login .register-section form #recaptcha {
  margin-bottom: 0.4em;
}
.login-and-register .container-login .register-section form > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.login-and-register .container-login .register-section form > div:last-child > button:first-child {
  border: 0;
  background-color: #F5E5D7;
  width: 9em;
  height: 2.5em;
  border-radius: 5px;
  transition: all 0.1s;
  color: #402B1B;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .register-section form > div:last-child > button:first-child:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.login-and-register .container-login .register-section form > div:last-child > button:first-child:active {
  box-shadow: none;
}
.login-and-register .container-login .register-section form > div:last-child div:last-child button {
  border: 1px solid grey;
  background-color: #fff;
  width: 13em;
  height: 2.5em;
  border-radius: 5px;
  transition: all 0.1s;
  color: #402B1B;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.login-and-register .container-login .register-section form > div:last-child div:last-child button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.login-and-register .container-login .register-section form > div:last-child div:last-child button:active {
  box-shadow: none;
}

@media screen and (max-width: 1440px) {
  .login-and-register .container-login .login-section form > div:first-child #login-email {
    width: 32em;
  }
  .login-and-register .container-login .login-section form > div:nth-child(2) #login-password {
    width: 32em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(2) #username {
    width: 32em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(3) #email {
    width: 32em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(4) #password {
    width: 32em;
  }
}
@media screen and (max-width: 1024px) {
  .login-and-register .container-login .login-section form > div:first-child #login-email {
    width: 24em;
  }
  .login-and-register .container-login .login-section form > div:nth-child(2) #login-password {
    width: 24em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(2) #username {
    width: 24em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(3) #email {
    width: 24em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(4) #password {
    width: 24em;
  }
}
@media screen and (max-width: 768px) {
  .login-and-register {
    height: 140vh;
  }
  .login-and-register .container-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .login-and-register .container-login .login-section h2 {
    margin-top: 1em;
  }
  .login-and-register .container-login .login-section form > div:first-child #login-email {
    width: 32em;
  }
  .login-and-register .container-login .login-section form > div:nth-child(2) #login-password {
    width: 32em;
  }
  .login-and-register .container-login .login-section form > div:last-child button {
    height: 2em;
  }
  .login-and-register .container-login #line-vertical {
    width: 80%;
    height: 0.2em;
    margin-bottom: 2em;
  }
  .login-and-register .container-login .register-section h2 {
    margin-bottom: 1em;
  }
  .login-and-register .container-login .register-section form {
    width: 120%;
  }
  .login-and-register .container-login .register-section form > div:nth-child(2) #username {
    width: 32em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(3) #email {
    width: 32em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(4) #password {
    width: 32em;
  }
  .login-and-register .container-login .register-section > div:last-child {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 425px) {
  .login-and-register {
    height: 150vh;
  }
  .login-and-register .container-login .login-section {
    width: 100%;
  }
  .login-and-register .container-login .login-section form > div:first-child #login-email {
    width: 22em;
  }
  .login-and-register .container-login .login-section form > div:nth-child(2) #login-password {
    width: 22em;
  }
  .login-and-register .container-login .register-section {
    width: 100%;
    margin-left: 0;
  }
  .login-and-register .container-login .register-section form > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .login-and-register .container-login .register-section form > div:nth-child(2) #username {
    width: 22em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(3) #email {
    width: 22em;
  }
  .login-and-register .container-login .register-section form > div:nth-child(4) #password {
    width: 22em;
  }
}
.home {
  width: 100vw;
  height: auto;
}
.home .banner {
  width: 100%;
  height: 30em;
  background-image: url(/images/etageres_a_livres.jpg?b71a83b3cdf5904496253b5e6f0af612);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F5E5D7;
  font-family: "Playfair Display", serif;
}
.home .banner h1 {
  font-style: italic;
  font-size: 8em;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.home .banner h2 {
  font-size: 1.5em;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 0.5em;
}
.home .presentation {
  width: 100%;
  height: 15em;
  background-color: #EBE7E5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #402B1B;
}
.home .presentation .container-pres {
  width: 50%;
  height: 80%;
  border-radius: 10px;
  background-color: #AF8F7C;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.home .presentation .container-pres img {
  width: 10em;
  height: 10em;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100%;
  top: -85px;
  left: 380px;
}
.home .presentation .container-pres p {
  color: #F5E5D7;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1em;
  padding: 1.5em;
  margin-top: 3.6em;
}
.home .contact-form {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5E5D7;
}
.home .contact-form h2 {
  color: #402B1B;
  font-size: 2em;
  font-family: "Playfair Display", serif;
  font-style: normal;
  margin-bottom: 0.2em;
}
.home .contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .contact-form form label {
  color: #402B1B;
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-bottom: 0.2em;
  padding-top: 0.6em;
}
.home .contact-form form input {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.2s;
}
.home .contact-form form input:hover {
  background-color: #EBE7E5;
}
.home .contact-form form input::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.home .contact-form form input::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.home .contact-form form textarea {
  height: 9em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 2em;
  transition: all 0.2s;
}
.home .contact-form form textarea:hover {
  background-color: #EBE7E5;
}
.home .contact-form form textarea::-moz-placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.home .contact-form form textarea::placeholder {
  color: #402B1B;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding-left: 0.8em;
}
.home .contact-form form button {
  border: 0;
  background-color: #AF8F7C;
  width: 9em;
  height: 2.2em;
  border-radius: 5px;
  margin-bottom: 1em;
  color: #F5E5D7;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  transition: all 0.1s;
}
.home .contact-form form button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.home .contact-form form button:active {
  box-shadow: none;
}

@media screen and (max-width: 1440px) {
  .home .presentation .container-pres {
    height: 80%;
    width: 90%;
  }
  .home .presentation .container-pres > img {
    left: 560px;
  }
}
@media screen and (max-width: 1024px) {
  .home .presentation .container-pres {
    height: 85%;
    width: 90%;
  }
  .home .presentation .container-pres > img {
    left: 385px;
  }
}
@media screen and (max-width: 768px) {
  .home .presentation .container-pres > img {
    left: 275px;
  }
  .home .presentation .container-pres > p {
    font-size: 0.9em;
    padding: 2.5em;
  }
}
@media screen and (max-width: 425px) {
  .home .banner {
    height: 45%;
  }
  .home .banner h1 {
    font-size: 4.5em;
  }
  .home .presentation {
    height: 55%;
  }
  .home .presentation .container-pres {
    height: 90%;
  }
  .home .presentation .container-pres > img {
    left: 115px;
  }
  .home .presentation .container-pres > p {
    font-size: 0.9em;
    padding: 2.5em;
  }
}
.dashboard {
  width: 100vw;
  height: 100vh;
}

.forgot-password {
  width: 100vw;
  height: 66vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forgot-password .container-forgot {
  width: 60%;
  height: 80%;
  background-color: #AF8F7C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.forgot-password .container-forgot h2 {
  color: #F5E5D7;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-style: regular;
}
.forgot-password .container-forgot form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password .container-forgot form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}
.forgot-password .container-forgot form div label:first-child {
  color: #F5E5D7;
  font-size: 1.6em;
  font-family: "Playfair Display", serif;
  font-style: regular;
}
.forgot-password .container-forgot form div #login-email {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.forgot-password .container-forgot form button {
  border: 0;
  background-color: #F5E5D7;
  width: 18em;
  height: 2.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .forgot-password .container-forgot form div #login-email {
    width: 30em;
  }
}
@media screen and (max-width: 425px) {
  .forgot-password .container-forgot {
    width: 80%;
  }
  .forgot-password .container-forgot h2 {
    font-size: 2.2em;
  }
  .forgot-password .container-forgot form div #login-email {
    width: 22em;
  }
}
.reset-password {
  width: 100vw;
  height: 66vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reset-password .container {
  width: 60%;
  height: 80%;
  background-color: #AF8F7C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.reset-password .container h1 {
  color: #F5E5D7;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-style: normal;
}
.reset-password .container form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset-password .container form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}
.reset-password .container form div label:first-child {
  color: #F5E5D7;
  font-size: 1.6em;
  font-family: "Playfair Display", serif;
  font-style: normal;
}
.reset-password .container form div #password {
  height: 3em;
  width: 40em;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.reset-password .container form button {
  border: 0;
  background-color: #F5E5D7;
  width: 18em;
  height: 2.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  .reset-password .container h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 768px) {
  .reset-password .container {
    width: 80%;
  }
  .reset-password .container h1 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 425px) {
  .reset-password .container {
    width: 80%;
  }
  .reset-password .container h1 {
    font-size: 2.2em;
    text-align: center;
  }
  .reset-password .container form div #password {
    width: 22em;
  }
  .reset-password .container form div:nth-child(4) label {
    text-align: center;
  }
}
footer {
  width: 100vw;
  height: 20vh;
  background-color: #402B1B;
  display: flex;
  justify-content: center;
}
footer .footer-container {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .text-footer {
  color: #F5E5D7;
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  font-style: italic;
  height: 80%;
  width: 40%;
  display: flex;
  align-items: center;
}
footer .footer-container .footer-socialmedia {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
footer .footer-container .footer-socialmedia a {
  color: #F5E5D7;
  font-size: 2em;
}
footer .footer-container .footer-socialmedia a:first-child i {
  transition: all 0.2s;
}
footer .footer-container .footer-socialmedia a:first-child i:hover {
  color: #3b5998;
}
footer .footer-container .footer-socialmedia a:nth-child(2) i {
  transition: all 0.2s;
}
footer .footer-container .footer-socialmedia a:nth-child(2) i:hover {
  color: #00acee;
}
footer .footer-container .footer-socialmedia a:last-child i {
  transition: all 0.2s;
}
footer .footer-container .footer-socialmedia a:last-child i:hover {
  color: #C13584;
}

@media screen and (max-width: 768px) {
  footer .footer-container .footer-socialmedia {
    width: 35%;
  }
}
@media screen and (max-width: 425px) {
  footer .footer-container .text-footer {
    font-size: 1em;
  }
  footer .footer-container .footer-socialmedia {
    width: 55%;
  }
  footer .footer-container .footer-socialmedia a {
    font-size: 1em;
  }
}
body {
  background-color: #EBE7E5;
}
